.cards-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  margin: auto;

  @media (max-width: 800px) {
    grid-template-columns: 2fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
